body {
    background-image: url('img-bg/bg-image.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    background-attachment: fixed;
    height: 50vh;
}

.home-page {
    text-align: center; 
    color: white;
    padding-top: 200px;

}
.fs-1{
    font-size: 70px !important;
    color: #001d3d;
}
#counter{
    color: #001d3d;
}
.btn{
    background-color: #001d3d; 
    border-radius: 20px;
   
}
.btn:hover{
  background-color: #001d3d;
}
.icon-color{
    color:white;
}